{% extends 'layout.html' %}

{% block body %}
  <div class="table-responsive">
    <table class="table table-bordered	" style="width:100%">

        <!--These are Headers-->
        <tr>
            {% for header in headers %}
            {% if header != 'row_id' %}
            <th>{{header}}</th>
            {% endif %}
            {% endfor %}
        </tr>

        {% for deposit in data_list %}
        <tr>
            {% for header in headers %}
            {% if header != 'row_id' %}
            <th>
                {% if deposit[header] %}
                {{deposit[header]}}
                {% else %}
                None
                {% endif %}
            </th>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}